body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f9fafb;
  color: #1a1a1a;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: #1a1a1a;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}
